Repository ben-grande/qusal: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, markdown-lint, python-lint, salt-lint, yaml-lint, qubesbuilder-gen

.pre-commit-config.yaml:

# yamllint disable-line rule:line-length
# SPDX-FileCopyrightText: 2023 - 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

default_install_hook_types:
  - pre-commit

repos:

  - repo: local
    hooks:

      - id: unicode-lint
        name: unicode-lint
        entry: scripts/unicode-lint.sh
        language: script
        pass_filenames: true
        description: Prohibit Unicode
        stages: [commit]

      - id: spell-lint
        name: spell-lint
        entry: scripts/spell-lint.sh
        language: script
        pass_filenames: true
        description: Spellcheck files
        stages: [commit]

      - id: shell-lint
        name: shell-lint
        entry: scripts/shell-lint.sh
        language: script
        pass_filenames: true
        # yamllint disable rule:line-length
        files: >-
          (\.sh|/rc\.local\.d/.*\.rc|/bin/.*|/rpc/.*|/network-hooks\.d/.*|
          /qubes-firewall\.d/.*|/(lib-)?qubes-bind-dirs\.d/.*|
          /\.config/(sh|bash|zsh|less|x11|git/shell|git/template/hooks)/.*|
          /autostart-scripts/.*|/qvm-copy-dotfiles|/git-core/.*)
        # yamllint disable rule:line-length
        exclude: >-
          \.(policy|asc|txt|top|sls|jinja|toml|vim|py|muttrc|nft|md|spec|
          list|sources|repo|socket|timer|service|y(a)?ml)$
        description: Lint Shellscripts
        stages: [commit]

      - id: markdown-lint
        name: markdown-lint
        entry: scripts/markdown-lint.sh
        language: script
        pass_filenames: true
        files: \.md$
        description: Lint Markdown files
        stages: [commit]

      - id: python-lint
        name: python-lint
        entry: scripts/python-lint.sh
        language: script
        pass_filenames: true
        files: \.py$
        description: Lint Python files
        stages: [commit]

      - id: salt-lint
        name: salt-lint
        entry: scripts/salt-lint.sh
        language: script
        pass_filenames: true
        files: (^minion.d/.*.conf|\.(sls|top|jinja|j2|tmpl|tst))$
        description: Lint Salt files
        stages: [commit]

      - id: yaml-lint
        name: yaml-lint
        entry: scripts/yaml-lint.sh
        language: script
        pass_filenames: true
        files: \.(yaml|yml)$
        description: Lint YAML files
        stages: [commit]

      - id: qubesbuilder-gen
        name: qubesbuilder-gen
        entry: scripts/qubesbuilder-gen.sh
        args: [test]
        language: script
        pass_filenames: false
        files: salt/\S+/README.md
        description: Check if .qubesbuilder is up to date
        stages: [commit]

      # - id: spec-gen
      #   name: spec-gen
      #   language: script
      #   entry: scripts/spec-gen.sh
      #   args: [test]
      #   pass_filenames: true
      #   # yamllint disable rule:line-length
      #   files: >-
      #     ^(rpm_spec/template/template.spec|salt/.*|
      #     scripts/spec-(get|gen)\.sh)$
      #   description: Check if RPM SPEC files are up to date
      #   stages: [commit]

      - id: license-lint
        name: license-lint
        entry: reuse
        args: [lint]
        language: python
        pass_filenames: false
        description: Lint files to comply with the REUSE Specification
        stages: [commit]

      - id: commit-verify
        name: commit-verify
        entry: scripts/commit-verify.sh
        language: script
        pass_filenames: false
        description: Verify if there is a valid signature associated with the revisions
        stages: [push]

fix: Force remove broken salt/dotfiles submodule
  .gitmodules
Due: none

feat: Add dotfiles back
  .gitmodules
Due: none

feat: Add rust toolchain to code qube
  salt/code/install-rust-tools.sls
  salt/dev/install-rust-tools.sls
Due: salt-lint

feat: Change submodule remote
  .gitmodules
Due: none

feat: Add rust toolchain to code template
  salt/code/install-rust-tools.sls
Due: salt-lint

feat: Add rust installation to code qube
  salt/code/install-rust-tools.sls
  salt/code/install.sls
Due: salt-lint

fix: Change submodule remote
  .gitmodules
Due: none

feat: Add missing resources for code qube
  salt/code/clone.sls
  salt/code/clone.top
  salt/code/configure-dvm.sls
  salt/code/configure-dvm.top
  salt/code/configure.sls
  salt/code/configure.top
  salt/code/create.sls
  salt/code/create.top
  salt/code/init.sls
  salt/code/init.top
  salt/code/install.top
Due: salt-lint

feat: add sys-git.create-sync state
  salt/sys-git/README.md
  salt/sys-git/clone.sls
  salt/sys-git/create-sync.sls
  salt/sys-git/create-sync.top
  salt/sys-git/create.sls
  salt/sys-git/install-sync.sls
  salt/sys-git/install-sync.top
Due: markdown-lint, salt-lint, qubesbuilder-gen

chore: add repo link to SPDX-FileCopyrightText
  salt/sys-git/create-sync.sls
  salt/sys-git/install-sync.sls
Due: salt-lint

chore(sys-git): sys-git-sync README update
  salt/sys-git/README.md
Due: markdown-lint, qubesbuilder-gen

remove sys-git.create-sync state
  salt/sys-git/create-sync.sls
  salt/sys-git/create-sync.top
Due: salt-lint

feat: sys-print: enable avahi service
  salt/sys-print/create.sls
Due: salt-lint

fix(sys-gui): install qubes-gui-daemon-selinux
  salt/sys-gui/install.sls
Due: salt-lint

feat(sys-print): no netvm by default
  salt/sys-print/README.md
  salt/sys-print/create.sls
Due: markdown-lint, salt-lint, qubesbuilder-gen

feat: sys-print: arch and fedora support
  salt/sys-print/install-driver-all.sls
  salt/sys-print/install.sls
Due: salt-lint

feat: sys-print.install: install fonts
  salt/sys-print/install.sls
Due: salt-lint

sys-gui-gpu: separate template with gpu drivers
  salt/sys-gui-gpu/README.md
  salt/sys-gui-gpu/clone.sls
  salt/sys-gui-gpu/create.sls
  salt/sys-gui-gpu/init.top
  salt/sys-gui-gpu/install.sls
  salt/sys-gui-gpu/install.top
Due: markdown-lint, salt-lint, qubesbuilder-gen

ci: harden workflow against script injection
  .github/workflows/main.yaml
  .github/workflows/reject-pr.yaml
Due: yaml-lint

feat: sys-gui-gpu: separate template for drivers
  salt/sys-gui-gpu/README.md
  salt/sys-gui-gpu/clone.sls
  salt/sys-gui-gpu/create.sls
  salt/sys-gui-gpu/init.top
  salt/sys-gui-gpu/install.sls
  salt/sys-gui-gpu/install.top
Due: markdown-lint, salt-lint, qubesbuilder-gen

feat: bump Pihole version
  salt/sys-pihole/install.sls
Due: salt-lint

feat(sys-gui): break out install-xfce
  salt/sys-gui-gpu/README.md
  salt/sys-gui-vnc/README.md
  salt/sys-gui/README.md
  salt/sys-gui/install-xfce.sls
  salt/sys-gui/install.sls
Due: markdown-lint, salt-lint, qubesbuilder-gen

feat: basic X11 themes in sys-gui.install
  salt/sys-gui/install.sls
Due: salt-lint

feat: still install XFCE by default in GUIVM
  salt/sys-gui-gpu/install-xfce.top
  salt/sys-gui-vnc/install-xfce.top
  salt/sys-gui/install-xfce.top
Due: salt-lint

feat: build Bitcoin with Cmake
  salt/sys-bitcoin/configure-builder-source.sls
  salt/sys-bitcoin/install-source.sls
  salt/sys-bitcoin/version.jinja
Due: salt-lint
