Repository ben-grande/qusal: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, markdown-lint, python-lint, salt-lint, yaml-lint, qubesbuilder-gen, spec-gen

shell-lint:
  name: shell-lint
  entry: scripts/shell-lint.sh
  language: script
  pass_filenames: true
  description: Lint Shellscripts

markdown-lint:
  name: markdown-lint
  entry: scripts/markdown-lint.sh
  language: script
  pass_filenames: true
  description: Lint Markdown files

python-lint:
  name: python-lint
  entry: scripts/python-lint.sh
  language: script
  pass_filenames: true
  description: Lint Python files

salt-lint:
  name: salt-lint
  entry: scripts/salt-lint.sh
  language: script
  pass_filenames: true
  description: Lint Salt files

yaml-lint:
  name: yaml-lint
  entry: scripts/yaml-lint.sh
  language: script
  pass_filenames: true
  description: Lint YAML files

qubesbuilder-gen:
  name: qubesbuilder-gen
  entry: scripts/qubesbuilder-gen.sh
  args:
  - test
  language: script
  pass_filenames: false
  description: Check if .qubesbuilder is up to date

spec-gen:
  name: spec-gen
  language: script
  entry: scripts/spec-gen.sh
  args:
  - test
  pass_filenames: true
  description: Check if RPM SPEC files are up to date

fix: exclude Whonix qubes by distribution feature
  salt/sys-cacher/files/admin/tag.py
Due: python-lint, spec-gen

fix: SSH clients misses Qubes network integration
  salt/sys-ssh-agent/install-client.sls
Due: salt-lint, spec-gen

doc: organize Qubes Builder options in a list
  salt/qubes-builder/README.md
Due: markdown-lint, qubesbuilder-gen, spec-gen

fix: skip RPM Spec hook
  .pre-commit-config.yaml
Due: yaml-lint

fix: remove deprecated Electrs option
  salt/sys-electrs/files/server/conf/config.toml
Due: spec-gen

fix: avoid operand evaluation as argument
  salt/sys-bitcoin/configure-builder-source.sls
  salt/sys-bitcoin/configure-builder.sls
  salt/sys-cacher/install.sls
  salt/sys-mirage-firewall/create.sls
Due: salt-lint, spec-gen

feat: bump Electrum version
  salt/electrum/configure-builder.sls
Due: salt-lint, spec-gen

fix: update Ava Chow PGP key
  salt/sys-bitcoin/files/server/keys/152812300785C96444D3334D17565732E08E5E41.asc
Due: spec-gen

fix: maintainer key file name
  docs/INSTALL.md
  salt/qubes-builder/files/client/qusal/keys/DF3834875B65758713D92E91A475969DE4E371E3.asc
  salt/qubes-builder/files/client/qusal/keys/otrust.txt
Due: markdown-lint, spec-gen

fix: sys-gui-vnc and sys-gui-gpu titles
  .qubesbuilder
  rpm_spec/qusal-sys-gui-gpu.spec
  rpm_spec/qusal-sys-gui-vnc.spec
  salt/sys-gui-gpu/README.md
  salt/sys-gui-vnc/README.md
  scripts/spec-get.sh
Due: shell-lint, markdown-lint, qubesbuilder-gen, spec-gen

feat: bump ElectRS version
  salt/sys-electrs/configure-builder-source.sls
Due: salt-lint, spec-gen

feat: Bump Bitcoin Core version
  salt/sys-bitcoin/files/server/keys/152812300785C96444D3334D17565732E08E5E41.asc
  salt/sys-bitcoin/version.jinja
Due: spec-gen

fix: skip projects with untracked states
  .qubesbuilder
  scripts/qubesbuilder-gen.sh
Due: shell-lint

fix: skip edit of files owned by system packages
  salt/sys-git/install-client.sls
Due: salt-lint, spec-gen

feat: bump Mirage Firewall version
  salt/sys-mirage-firewall/create.sls
Due: salt-lint, spec-gen

doc: remote support with Qubes Video Companion
  salt/video-companion/README.md
Due: markdown-lint, qubesbuilder-gen, spec-gen

fix: Invalid volume size for sys-bitcoin
  salt/sys-bitcoin/create.sls
Due: salt-lint, spec-gen

fix: depend on Bitcoin Gateway configuration
  salt/electrum/README.md
  salt/electrum/init.top
  salt/sys-electrs/README.md
  salt/sys-electrs/init.top
  salt/sys-electrumx/README.md
  salt/sys-electrumx/init.top
Due: markdown-lint, salt-lint, qubesbuilder-gen, spec-gen

feat: verify commit signature before push
  .codespellrc
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  docs/CONTRIBUTE.md
  scripts/commit-verify.sh
  scripts/spec-get.sh
  scripts/toc-gen.sh
Due: shell-lint, markdown-lint, yaml-lint

doc: verify tags pointing at checked out commit
  docs/INSTALL.md
Due: markdown-lint

feat: bump Chrome signing keys
  salt/browser/files/repo/chrome.asc
  scripts/pgp-lint.sh
Due: shell-lint, spec-gen

fix: exclude Mirage kernel templates from updates
  salt/sys-mirage-firewall/create.sls
Due: salt-lint, spec-gen

fix: add absent semicolon and stderr redirection
  salt/dom0/files/bin/qvm-terminal
  salt/sys-tailscale/create.sls
Due: shell-lint, salt-lint, spec-gen

feat: verify copyright year
  .pre-commit-config.yaml
  scripts/copyright-lint.sh
Due: shell-lint, yaml-lint

ci: standardize build host
  .github/workflows/cron.yaml
Due: yaml-lint

doc: simplify installation command
  .reuse/dep5
  docs/INSTALL.md
  scripts/copyright-lint.sh
Due: shell-lint, markdown-lint

feat: allow exposing port directly from last netvm
  salt/dom0/files/bin/qvm-port-forward
Due: shell-lint, spec-gen

feat: install fwupd dom0 package by default
  salt/dom0/install.sls
Due: salt-lint, spec-gen

feat: bump external packages version
  salt/electrum/configure-builder.sls
  salt/sys-electrs/configure-builder-source.sls
  salt/sys-mirage-firewall/create.sls
  salt/sys-pihole/install.sls
Due: salt-lint, spec-gen

fix: wrong template name for sys-gui associates
  salt/sys-gui-gpu/README.md
  salt/sys-gui-gpu/create.sls
  salt/sys-gui-vnc/README.md
  salt/sys-gui-vnc/create.sls
Due: markdown-lint, salt-lint, qubesbuilder-gen, spec-gen

feat: add pinentry and gpgme to sys-pgp formula
  .qubesbuilder
  salt/sys-pgp/README.md
  salt/sys-pgp/install-client-gpgme-c++.sls
  salt/sys-pgp/install-client-gpgme-c++.top
  salt/sys-pgp/install-client-gpgme-c.sls
  salt/sys-pgp/install-client-gpgme-c.top
  salt/sys-pgp/install-client-gpgme-python.sls
  salt/sys-pgp/install-client-gpgme-python.top
  salt/sys-pgp/install-client-gpgme-qt.sls
  salt/sys-pgp/install-client-gpgme-qt.top
  salt/sys-pgp/install-client.sls
  salt/sys-pgp/install-pinentry.sls
  salt/sys-pgp/install-pinentry.top
Due: markdown-lint, salt-lint, qubesbuilder-gen, spec-gen

feat: configure mail fetcher with offlineimap
  .qubesbuilder
  salt/mail/README.md
  salt/mail/appmenus.sls
  salt/mail/configure-fetcher.sls
  salt/mail/configure-reader.sls
  salt/mail/create.sls
  salt/mail/files/admin/policy/default.policy
  salt/mail/files/fetcher/fdm.conf.example
  salt/mail/files/fetcher/mpoprc.example
  salt/mail/files/fetcher/netrc.example
  salt/mail/files/fetcher/offlineimaprc.example
  salt/mail/install-fetcher.sls
  salt/mail/install-reader.sls
  salt/mail/install-sender.sls
  scripts/qubesbuilder-gen.sh
Due: shell-lint, markdown-lint, salt-lint, qubesbuilder-gen, spec-gen

doc: instruct how to use socat with a SOCKS proxy
  salt/electrum/README.md
Due: markdown-lint, qubesbuilder-gen, spec-gen

feat: add fido2 tools to USBVM and clients
  salt/sys-usb/install-client-fido.sls
  salt/sys-usb/install.sls
Due: salt-lint, spec-gen

Path conditions:
  shell-lint: any of: (\.sh|/rc\.local\.d/.*\.rc|/bin/.*|/rpc/.*|/network-hooks\.d/.*| /qubes-firewall\.d/.*|/(lib-)?qubes-bind-dirs\.d/.*| /\.config/(sh|bash|zsh|less|x11|git/shell|git/template/hooks)/.*| /autostart-scripts/.*|/qvm-copy-dotfiles|/git-core/.*), but not: \.(policy|asc|txt|top|sls|jinja|toml|vim|py|muttrc|nft|md|spec| list|sources|repo|socket|timer|service|y(a)?ml)$
  markdown-lint: any of: \.md$
  python-lint: any of: \.py$
  salt-lint: any of: (^minion.d/.*.conf|\.(sls|top))$
  yaml-lint: any of: \.(yaml|yml)$
  qubesbuilder-gen: any of: salt/\S+/README.md
  spec-gen: any of: ^(rpm_spec/template/template.spec|salt/.*| scripts/spec-(get|gen)\.sh)$
