Repository ben-grande/qusal: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, python-lint, salt-lint, yaml-lint

.pre-commit-config.yaml:

# yamllint disable-line rule:line-length
# SPDX-FileCopyrightText: 2023 - 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
repos:
  - repo: local
    hooks:

      - id: unicode-prohibit
        name: unicode-prohibit
        entry: scripts/unicode-prohibit.sh
        language: script
        pass_filenames: true
        description: Prohibit Unicode

      - id: spell-lint
        name: spell-lint
        entry: scripts/spell-lint.sh
        language: script
        pass_filenames: true
        description: Spellcheck files

      - id: shell-lint
        name: shell-lint
        entry: scripts/shell-lint.sh
        language: script
        pass_filenames: true
        description: Lint Shellscripts

      - id: markdown-lint
        name: markdown-lint
        entry: scripts/markdown-lint.sh
        language: script
        pass_filenames: true
        files: \.md$
        description: Lint markdown files

      - id: python-lint
        name: python-lint
        entry: scripts/python-lint.sh
        language: script
        pass_filenames: true
        files: \.py$
        description: Lint python files

      - id: salt-lint
        name: salt-lint
        entry: scripts/salt-lint.sh
        language: script
        pass_filenames: true
        files: \.(sls|top)$
        description: Lint Salt files

      - id: yaml-lint
        name: yaml-lint
        entry: scripts/yaml-lint.sh
        language: script
        pass_filenames: true
        files: \.(yaml|yml)$
        description: Lint YAML files

      - id: qubesbuilder-gen
        name: qubesbuilder-gen
        entry: scripts/qubesbuilder-gen.sh
        args: [test]
        language: script
        pass_filenames: false
        description: Check if .qubesbuilder is up to date

        # TODO: generate temporary spec and compare against staged one.
        # - id: spec-gen
        #   name: spec-gen
        #   language: script
        #   entry: scripts/spec-gen.sh test
        #   args: [test]
        #   # pass_filenames: true
        #   description: Check if RPM SPEC files are up to date

      - id: reuse-lint
        name: reuse-lint
        entry: reuse
        args: [lint]
        language: python
        pass_filenames: false
        description: Lint files to comply with the REUSE Specification

      - id: git-lint
        name: git-lint
        language: python
        entry: gitlint
        args: [--staged, --msg-filename]
        stages: [commit-msg]
        pass_filenames: true
        description: Lint Git commits

doc: spell check
  .pre-commit-config.yaml
  docs/BOOTSTRAP.md
  docs/CONTRIBUTE.md
  docs/SALT.md
  docs/TROUBLESHOOT.md
  salt/dev/install.sls
  salt/electrum/README.md
  salt/sys-cacher/files/client/bin/apt-cacher-ng-repo
  salt/sys-cacher/files/server/conf/acng.conf
  salt/sys-ssh-agent/README.md
  salt/sys-ssh-agent/files/server/bin/qvm-ssh-agent
  scripts/salt-fix.sh
  scripts/salt-lint.sh
  scripts/spec-gen.sh
  scripts/spec-get.sh
  scripts/toc-gen.sh
Due: markdown-lint, salt-lint, yaml-lint

ci: check if RPM Specs are up to date
  .pre-commit-config.yaml
  scripts/spec-gen.sh
Due: yaml-lint

ci: lint editorconfig checker
  .ecrc
  .editorconfig
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  .reuse/dep5
Due: yaml-lint

ci: checkout before reading dependencies file
  .github/workflows/main.yaml
Due: yaml-lint

ci: show all errors by continuing on error
  .github/workflows/main.yaml
Due: yaml-lint

fix: conform files to editorconfig specification
  .github/workflows/main.yaml
  docs/SALT.md
  rpm_spec/qusal-dev.spec
  rpm_spec/qusal-dotfiles.spec
  rpm_spec/qusal-electrum.spec
  rpm_spec/qusal-fetcher.spec
  rpm_spec/qusal-sys-cacher.spec
  rpm_spec/qusal-sys-ssh-agent.spec
  salt/dom0/files/bin/qvm-mgmt
  salt/dom0/files/bin/qvm-port-forward
  salt/dom0/files/bin/qvm-screenshot
  salt/fetcher/README.md
  salt/signal/README.md
  scripts/shell-lint.sh
  scripts/spec-build.sh
  scripts/spec-gen.sh
  scripts/spec-get.sh
  scripts/unicode-prohibit.sh
Due: markdown-lint, yaml-lint

ci: generate reproducible RPM Spec macros
  .github/workflows/main.yaml
  rpm_spec/qusal-dom0.spec
  rpm_spec/qusal-fetcher.spec
  rpm_spec/qusal-signal.spec
Due: yaml-lint

test: show RPM Spec differences on status check
  scripts/spec-gen.sh
Due: none

build: dictionary sort licenses names
  scripts/spec-get.sh
Due: none

ci: escape special sed character
  scripts/spec-gen.sh
  scripts/spec-get.sh
Due: none

ci: show environment
  .github/workflows/main.yaml
Due: yaml-lint

ci: show license sort order
  .github/workflows/main.yaml
Due: yaml-lint

ci: reproducible license sort
  .github/workflows/main.yaml
  scripts/spec-get.sh
Due: yaml-lint

chore: editorconfig check
  .ecrc
  .editorconfig
  .github/workflows/main.yaml
Due: yaml-lint

fix: add Python indentation to editorconfig
  .editorconfig
  .gitignore
Due: none

fix: update dotfiles RPM Spec
  rpm_spec/qusal-dotfiles.spec
Due: none

style: limit line length per file extension
  .editorconfig
  .github/workflows/reject-pr.yaml
  .pre-commit-config.yaml
  salt/browser/create.sls
  salt/dom0/files/bin/qubes-kde-win-rules
  salt/dom0/files/bin/qvm-backup-find-last
  salt/dom0/files/bin/qvm-pci-regain
  salt/dom0/files/bin/qvm-port-forward
  salt/dom0/files/bin/qvm-screenshot
  salt/dom0/files/bin/qvm-terminal
  salt/fedora-minimal/files/admin/bin/salt-patch.sh
  salt/reader/create.sls
  salt/sys-bitcoin/files/server/bin/bitcoin-rpcwhitelist-cookie
  salt/sys-bitcoin/files/server/bin/bitcoin-whitepaper
  salt/sys-bitcoin/files/server/rpc/qusal.BitcoinAuthGet
  salt/sys-cacher/files/admin/tag.py
  salt/sys-cacher/files/browser/rc.local.d/50-sys-cacher.rc
  salt/sys-cacher/files/client/bin/apt-cacher-ng-repo
  salt/sys-electrs/clone.sls
  salt/sys-git/files/client/git-core/git-init-qrexec
  salt/sys-git/files/client/git-core/git-remote-qrexec
  salt/sys-git/files/client/git-core/git-remote-qrexec-connect
  salt/sys-git/files/server/rpc/qusal.GitInit
  salt/sys-net/files/server/rpc/qusal.ConnectTCP
  salt/sys-ssh-agent/files/server/rpc/qusal.SshAgent
  salt/sys-syncthing/files/browser/rc.local.d/50-sys-syncthing.rc
  salt/sys-wireguard/files/admin/bin/qvm-wireguard
  salt/sys-wireguard/files/server/qubes-firewall.d/50-sys-wireguard-var
  scripts/markdown-lint.sh
  scripts/qubesbuilder-gen.sh
  scripts/salt-fix.sh
  scripts/salt-lint.sh
  scripts/shell-lint.sh
  scripts/spec-gen.sh
  scripts/spec-get.sh
  scripts/toc-gen.sh
Due: python-lint, salt-lint, yaml-lint

fix: update RPM Specs
  rpm_spec/qusal-dom0.spec
  rpm_spec/qusal-dotfiles.spec
  rpm_spec/qusal-mirage-builder.spec
  rpm_spec/qusal-qubes-builder.spec
  rpm_spec/qusal-sys-bitcoin.spec
  rpm_spec/qusal-sys-cacher.spec
  rpm_spec/qusal-sys-git.spec
  rpm_spec/qusal-sys-net.spec
  rpm_spec/qusal-sys-pihole.spec
  rpm_spec/qusal-sys-ssh-agent.spec
  rpm_spec/qusal-sys-wireguard.spec
Due: none

fix: uniform lint scripts name
  .github/workflows/cron.yaml
  .pre-commit-config.yaml
  scripts/pgp-lint.sh
  scripts/unicode-lint.sh
Due: yaml-lint

feat: add pylint configuration file
  .mdlrc
  .pylintrc
Due: none

feat: find PGP keys from within the linter
  .github/workflows/cron.yaml
  scripts/pgp-lint.sh
Due: yaml-lint

fix: shell syntax typos
  salt/dom0/files/bin/qvm-port-forward
  scripts/setup.sh
Due: none

fix: stop parse options on double dashes
  salt/dom0/files/bin/qvm-port-forward
Due: none

feat: add appmenus to audio applications
  rpm_spec/qusal-sys-audio.spec
  rpm_spec/qusal-sys-usb.spec
  salt/sys-audio/README.md
  salt/sys-audio/appmenus.sls
  salt/sys-audio/appmenus.top
  salt/sys-audio/create.sls
  salt/sys-audio/files/admin/policy/default.policy
  salt/sys-audio/install-easyeffects.sls
  salt/sys-audio/install-easyeffects.top
  salt/sys-usb/README.md
  salt/sys-usb/appmenus.sls
  salt/sys-usb/appmenus.top
  salt/sys-usb/create.sls
  salt/sys-usb/files/admin/policy/default.policy
Due: markdown-lint, salt-lint

fix: correct easyeffects desktop application name
  rpm_spec/qusal-sys-audio.spec
  rpm_spec/qusal-sys-usb.spec
  salt/sys-audio/create.sls
  salt/sys-usb/create.sls
Due: salt-lint

fix: add icons to remmina toolbar
  salt/remmina/install.sls
Due: salt-lint

fix: lint all Salt file extensions
  .pre-commit-config.yaml
  scripts/salt-lint.sh
Due: yaml-lint

fix: remove unused codespell directive
  docs/TROUBLESHOOT.md
Due: markdown-lint

doc: add global guivm property
  README.md
Due: markdown-lint

doc: prefer journalctl parameters over pipes
  docs/TROUBLESHOOT.md
Due: markdown-lint

fix: remove unnecessary USB proxy for audio client
  salt/sys-audio/install-client.sls
Due: salt-lint

fix: remove broken Signal firewall rules
  salt/signal/README.md
  salt/signal/create.sls
  salt/signal/firewall.sls
  salt/signal/firewall.top
  salt/signal/init.top
Due: markdown-lint, salt-lint

fix: add media appmenus
  rpm_spec/qusal-media.spec
  salt/media/README.md
  salt/media/appmenus.sls
  salt/media/appmenus.top
  salt/media/create.sls
  salt/media/install.sls
Due: markdown-lint, salt-lint

fix: change directory to repository top level
  scripts/best-program.sh
  scripts/markdown-lint.sh
  scripts/pgp-lint.sh
  scripts/python-lint.sh
  scripts/qubesbuilder-gen.sh
  scripts/release.sh
  scripts/salt-fix.sh
  scripts/salt-lint.sh
  scripts/shell-lint.sh
  scripts/spec-build.sh
  scripts/spec-gen.sh
  scripts/spec-get.sh
  scripts/spell-lint.sh
  scripts/unicode-lint.sh
  scripts/yaml-lint.sh
  scripts/yumrepo-gen.sh
Due: none

fix: clean Signal and Browser dependencies
  salt/browser/install-common.sls
  salt/signal/install.sls
Due: salt-lint
