Repository ben-grande/qusal: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, markdown-lint, python-lint, salt-lint, yaml-lint, qubesbuilder-gen

shell-lint:
  name: shell-lint
  entry: scripts/shell-lint.sh
  language: script
  pass_filenames: true
  description: Lint Shellscripts
  stages:
  - commit

markdown-lint:
  name: markdown-lint
  entry: scripts/markdown-lint.sh
  language: script
  pass_filenames: true
  description: Lint Markdown files
  stages:
  - commit

python-lint:
  name: python-lint
  entry: scripts/python-lint.sh
  language: script
  pass_filenames: true
  description: Lint Python files
  stages:
  - commit

salt-lint:
  name: salt-lint
  entry: scripts/salt-lint.sh
  language: script
  pass_filenames: true
  description: Lint Salt files
  stages:
  - commit

yaml-lint:
  name: yaml-lint
  entry: scripts/yaml-lint.sh
  language: script
  pass_filenames: true
  description: Lint YAML files
  stages:
  - commit

qubesbuilder-gen:
  name: qubesbuilder-gen
  entry: scripts/qubesbuilder-gen.sh
  args:
  - test
  language: script
  pass_filenames: false
  description: Check if .qubesbuilder is up to date
  stages:
  - commit

feat: add sys-git.create-sync state
  salt/sys-git/README.md
  salt/sys-git/clone.sls
  salt/sys-git/create-sync.sls
  salt/sys-git/create-sync.top
  salt/sys-git/create.sls
  salt/sys-git/install-sync.sls
  salt/sys-git/install-sync.top
Due: markdown-lint, salt-lint, qubesbuilder-gen

sys-print: enable avahi service
  salt/sys-print/create.sls
Due: salt-lint

sys-print: switch base to fedora
  salt/sys-print/clone.sls
  salt/sys-print/install.sls
Due: salt-lint

sys-print: no netvm by default
  salt/sys-print/create.sls
Due: salt-lint

sys-print: update README
  salt/sys-print/README.md
Due: markdown-lint, qubesbuilder-gen

feat: bump Pi-hole version
  salt/sys-pihole/README.md
  salt/sys-pihole/files/server/lighttpd/50-pihole.conf
  salt/sys-pihole/files/server/pihole/setupVars.conf
  salt/sys-pihole/install.sls
Due: markdown-lint, salt-lint, qubesbuilder-gen

doc: template typo
  .github/pull_request_template.md
Due: markdown-lint

feat: enable minimal service qube feature
  salt/sys-net/create.sls
  salt/sys-usb/create.sls
Due: salt-lint

fix: Fix merge conflicts
  salt/code/install.sls
  salt/debian-minimal/template.jinja
  salt/fedora/template.jinja
Due: salt-lint

fix: Fix typos
  salt/debian-minimal/template.jinja
Due: salt-lint

fix: file.symlink with file.managed keys
  salt/mail/configure-reader.sls
Due: salt-lint

fix: respect dotfiles pillar on mutt config sample
  salt/mail/configure-reader.sls
Due: salt-lint

feat: Add oauth2 helper script for mail
  salt/mail/files/fetcher/bin/oauth_helper.py
Due: python-lint

feat: Add the oauth helper files for mail fetcher and sender
  salt/mail/files/fetcher/bin/oauth_helper.py
  salt/terraform/install.sls
Due: python-lint, salt-lint

feat: Add C manpages to `dev` qube
  salt/dev/install.sls
Due: salt-lint

fix: `manpages-posix-dev` doesn't seem to exist - remove it
  salt/dev/install.sls
Due: salt-lint

feat: Add C configuration to `dev` qube
  salt/dev/install-c-tools.sls
  salt/dev/install.sls
Due: salt-lint

feat: Add rust tools to `dev` qube
  salt/dev/install-rust-tools.sls
Due: salt-lint

feat: Create the package list for rust development
  salt/dev/install-rust-tools.sls
Due: salt-lint

fix: Fix package names after debian package reference
  salt/dev/install-rust-tools.sls
Due: salt-lint

feat: Add sys-git client to terraform qube
  salt/terraform/install.sls
Due: salt-lint

fix: instructions in video-companion docs
  salt/video-companion/README.md
Due: markdown-lint, qubesbuilder-gen

fix: Remove qubes-builder.prefs state from docs
  salt/qubes-builder/README.md
Due: markdown-lint, qubesbuilder-gen

feat: Add discord to comms qubes
  salt/discord/README.md
  salt/discord/appmenus.sls
  salt/discord/appmenus.top
  salt/discord/clone.sls
  salt/discord/clone.top
  salt/discord/configure.sls
  salt/discord/configure.top
  salt/discord/create.sls
  salt/discord/create.top
  salt/discord/files/repo/discordo_Linux_X64.zip
  salt/discord/init.top
  salt/discord/install-repo.sls
  salt/discord/install-repo.top
  salt/discord/install.sls
  salt/discord/install.top
  salt/discord/version
Due: markdown-lint, salt-lint, qubesbuilder-gen

doc: Remove qubes-builder.prefs state
  salt/qubes-builder/README.md
Due: markdown-lint, qubesbuilder-gen

feat: add interactive Qrexec shell
  LICENSES/0BSD.txt
  salt/dom0/files/bin/qvm-shell
  salt/dom0/helpers.sls
Due: shell-lint, salt-lint

fix: skip display check on qvm-shell
  salt/dom0/files/bin/qvm-shell
Due: shell-lint

doc: recommend Sequoia PGP
  salt/sys-pgp/README.md
Due: markdown-lint, qubesbuilder-gen

doc: minor improvements
  salt/sys-pgp/README.md
  salt/sys-usb/README.md
  salt/video-companion/README.md
Due: markdown-lint, qubesbuilder-gen

feat: Add urlscan to mail-reader
  salt/mail/install-reader.sls
Due: salt-lint

Path conditions:
  shell-lint: any of: (\.sh|/rc\.local\.d/.*\.rc|/bin/.*|/rpc/.*|/network-hooks\.d/.*| /qubes-firewall\.d/.*|/(lib-)?qubes-bind-dirs\.d/.*| /\.config/(sh|bash|zsh|less|x11|git/shell|git/template/hooks)/.*| /autostart-scripts/.*|/qvm-copy-dotfiles|/git-core/.*), but not: \.(policy|asc|txt|top|sls|jinja|toml|vim|py|muttrc|nft|md|spec| list|sources|repo|socket|timer|service|y(a)?ml)$
  markdown-lint: any of: \.md$
  python-lint: any of: \.py$
  salt-lint: any of: (^minion.d/.*.conf|\.(sls|top|jinja|j2|tmpl|tst))$
  yaml-lint: any of: \.(yaml|yml)$
  qubesbuilder-gen: any of: salt/\S+/README.md
