Repository ben-grande/qusal: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, markdown-lint, python-lint, salt-lint, yaml-lint, qubesbuilder-gen

shell-lint:
  name: shell-lint
  entry: scripts/shell-lint.sh
  language: script
  pass_filenames: true
  description: Lint Shellscripts
  stages:
  - commit

markdown-lint:
  name: markdown-lint
  entry: scripts/markdown-lint.sh
  language: script
  pass_filenames: true
  description: Lint Markdown files
  stages:
  - commit

python-lint:
  name: python-lint
  entry: scripts/python-lint.sh
  language: script
  pass_filenames: true
  description: Lint Python files
  stages:
  - commit

salt-lint:
  name: salt-lint
  entry: scripts/salt-lint.sh
  language: script
  pass_filenames: true
  description: Lint Salt files
  stages:
  - commit

yaml-lint:
  name: yaml-lint
  entry: scripts/yaml-lint.sh
  language: script
  pass_filenames: true
  description: Lint YAML files
  stages:
  - commit

qubesbuilder-gen:
  name: qubesbuilder-gen
  entry: scripts/qubesbuilder-gen.sh
  args:
  - test
  language: script
  pass_filenames: false
  description: Check if .qubesbuilder is up to date
  stages:
  - commit

feat: configure split-gpg2 server
  salt/sys-pgp/configure.sls
  salt/sys-pgp/files/server/qubes-split-gpg2.conf
Due: salt-lint

fix: undo provides network as firewall is not done
  salt/sys-tailscale/create.sls
Due: salt-lint

fix: bump Bitcoin version
  salt/sys-bitcoin/files/server/keys/0CCBAAFD76A2ECE2CCD3141DE2FFD5B1D88CA97D.asc
  salt/sys-bitcoin/files/server/keys/28F5900B1BB5D1A4B6B6D1A9ED357015286A333D.asc
  salt/sys-bitcoin/files/server/keys/4D1B3D5ECBA1A7E05371EEBE46800E30FC748A66.asc
  salt/sys-bitcoin/files/server/keys/9EDAFF80E080659604F4A76B2EBB056FD847F8A7.asc
  salt/sys-bitcoin/files/server/keys/F4FC70F07310028424EFC20A8E4256593F177720.asc
  salt/sys-bitcoin/files/server/keys/otrust.txt
  salt/sys-bitcoin/version.jinja
Due: salt-lint

fix: enable qubes memory management to sys-bitcoin
  salt/sys-bitcoin/create.sls
  salt/sys-bitcoin/files/server/bin/bitcoin-dbcache
  salt/sys-bitcoin/install-common.sls
Due: shell-lint, salt-lint

ci: add variable to skip acquiring git user email
  .github/workflows/main.yaml
  scripts/copyright-lint.sh
Due: shell-lint, yaml-lint

fix: document x-qusal feature
  docs/DESIGN.md
Due: markdown-lint

fix: remove workaround around split-gpg2 hang
  salt/electrum/configure-builder.sls
  salt/mirage-builder/configure.sls
  salt/qubes-builder/configure-qusal.sls
  salt/qubes-builder/configure.sls
  salt/sys-bitcoin/configure-builder-common.sls
  salt/sys-electrs/configure-builder-source.sls
  salt/sys-electrumx/configure-builder.sls
  salt/sys-pihole/install.sls
  scripts/commit-verify.sh
Due: shell-lint, salt-lint

fix: logic to verify M of N signatures
  salt/sys-bitcoin/configure-builder.sls
Due: salt-lint

ci: skip copyright-lint from GHA
  scripts/copyright-lint.sh
Due: shell-lint

ci: rename editorconfig checker configuration file
  .editorconfig-checker.json
  .reuse/dep5
  salt/dom0/files/bin/qvm-port-forward
Due: shell-lint

feat: shorten long commands
  salt/dom0/files/bin/qubes-kde-win-rules
  salt/sys-bitcoin/files/server/bin/bitcoin-dbcache
Due: shell-lint

doc: remove outdated submodule workaround
  salt/qubes-builder/README.md
  salt/qubes-builder/configure.sls
Due: markdown-lint, salt-lint, qubesbuilder-gen

fix: standardize environment variable declaration
  salt/mirage-builder/configure.sls
  salt/qubes-builder/configure.sls
  salt/sys-pihole/install.sls
Due: salt-lint

feat: add monitor resize helper
  salt/dom0/files/bin/qubes-gui-resolution
  salt/dom0/helpers.sls
Due: shell-lint, salt-lint

feat: allow absent dotfiles
  salt/electrum/configure-common.sls
  salt/electrum/files/client/xprofile.d/electrum.sh
  salt/mirage-builder/configure.sls
  salt/mirage-builder/install.sls
  salt/qubes-builder/README.md
  salt/sys-electrs/configure-builder-source.sls
Due: shell-lint, markdown-lint, salt-lint, qubesbuilder-gen

fix: GPU domain Qrexec policy
  salt/sys-gui-gpu/cancel.sls
  salt/sys-gui-gpu/create.sls
  salt/sys-gui-gpu/prefs.sls
  salt/sys-gui-vnc/cancel.sls
  salt/sys-gui-vnc/create.sls
  salt/sys-gui-vnc/prefs.sls
Due: salt-lint

feat: Update ElectRS and Mirage Firewall
  salt/sys-electrs/configure-builder-source.sls
  salt/sys-mirage-firewall/create.sls
Due: salt-lint

feat: increase maximum concurrent DNS queries
  salt/sys-pihole/files/server/dnsmasq.d/00-pihole.conf
Due: none

fix: screenshot tools differ in window and region
  salt/dom0/files/bin/qvm-screenshot
  salt/dom0/screenshot.sls
Due: shell-lint, salt-lint

chore: prettify qvm-terminal output
  salt/dom0/files/bin/qvm-terminal
Due: shell-lint

feat: improve screenshot dialog usability
  salt/dom0/files/bin/qvm-screenshot
Due: shell-lint

fix: add necessary components to I3
  salt/dom0/desktop-i3.sls
Due: salt-lint

fix: remove GPU domain kernelopts workaround
  salt/sys-gui-gpu/create.sls
Due: salt-lint

fix: alternatives module is Debian only
  salt/dev/install-terminal.sls
Due: salt-lint

fix: update apt-cacher-ng mirrors
  salt/sys-cacher/files/server/conf/fedora_mirrors_extra
  salt/sys-cacher/files/server/conf/qubes_mirrors_extra
Due: none

feat: enable minimal service qube feature
  salt/sys-net/create.sls
  salt/sys-usb/create.sls
Due: salt-lint

feat: bump Pi-hole version
  salt/sys-pihole/README.md
  salt/sys-pihole/files/server/lighttpd/50-pihole.conf
  salt/sys-pihole/files/server/pihole/setupVars.conf
  salt/sys-pihole/install.sls
Due: markdown-lint, salt-lint, qubesbuilder-gen

fix: receive Xfce configuration from dotfiles
  salt/browser/configure.sls
  salt/browser/install-common.sls
  salt/reader/configure.sls
  salt/reader/install.sls
  salt/signal/configure.sls
  salt/signal/install.sls
  salt/sys-syncthing/configure.sls
  salt/sys-syncthing/install.sls
  salt/utils/tools/helpers/README.md
  salt/utils/tools/helpers/files/bin/run-browser
  salt/utils/tools/helpers/files/bin/run-file-manager
  salt/utils/tools/helpers/files/bin/run-mail
  salt/utils/tools/helpers/files/bin/run-terminal
  salt/utils/tools/helpers/init.sls
  salt/utils/tools/helpers/init.top
  salt/utils/tools/xfce/README.md
  salt/utils/tools/xfce/files/helpers.rc
  salt/utils/tools/xfce/init.sls
  salt/utils/tools/xfce/init.top
Due: shell-lint, markdown-lint, salt-lint, qubesbuilder-gen

fix: unify method to query template version
  salt/debian-xfce/template.jinja
  salt/fedora-xfce/template.jinja
Due: salt-lint

feat: add pillar directory
  minion.d/qusal.conf
Due: salt-lint

feat: update Element signing key
  salt/element/files/repo/element.asc
Due: none

fix: cache fasttrack of different server directory
  salt/sys-cacher/files/server/conf/debian_mirrors_extra
Due: none

feat: install python linters
  salt/dev/install-python-tools.sls
Due: salt-lint

fix: separate host commands with end of options
  salt/dom0/files/backup/qusal.conf.example
  salt/dom0/files/bin/qvm-backup-find-last
Due: shell-lint

Path conditions:
  shell-lint: any of: (\.sh|/rc\.local\.d/.*\.rc|/bin/.*|/rpc/.*|/network-hooks\.d/.*| /qubes-firewall\.d/.*|/(lib-)?qubes-bind-dirs\.d/.*| /\.config/(sh|bash|zsh|less|x11|git/shell|git/template/hooks)/.*| /autostart-scripts/.*|/qvm-copy-dotfiles|/git-core/.*), but not: \.(policy|asc|txt|top|sls|jinja|toml|vim|py|muttrc|nft|md|spec| list|sources|repo|socket|timer|service|y(a)?ml)$
  markdown-lint: any of: \.md$
  python-lint: any of: \.py$
  salt-lint: any of: (^minion.d/.*.conf|\.(sls|top|jinja|j2|tmpl|tst))$
  yaml-lint: any of: \.(yaml|yml)$
  qubesbuilder-gen: any of: salt/\S+/README.md
