Repository ben-grande/qusal: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, markdown-lint, python-lint, salt-lint, yaml-lint, qubesbuilder-gen

.pre-commit-config.yaml:

# yamllint disable-line rule:line-length
# SPDX-FileCopyrightText: 2023 - 2024 Benjamin Grande M. S. <ben.grande.b@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

default_install_hook_types:
  - pre-commit

repos:

  - repo: local
    hooks:

      - id: unicode-lint
        name: unicode-lint
        entry: scripts/unicode-lint.sh
        language: script
        pass_filenames: true
        description: Prohibit Unicode
        stages: [commit]

      - id: spell-lint
        name: spell-lint
        entry: scripts/spell-lint.sh
        language: script
        pass_filenames: true
        description: Spellcheck files
        stages: [commit]

      - id: shell-lint
        name: shell-lint
        entry: scripts/shell-lint.sh
        language: script
        pass_filenames: true
        # yamllint disable rule:line-length
        files: >-
          (\.sh|/rc\.local\.d/.*\.rc|/bin/.*|/rpc/.*|/network-hooks\.d/.*|
          /qubes-firewall\.d/.*|/(lib-)?qubes-bind-dirs\.d/.*|
          /\.config/(sh|bash|zsh|less|x11|git/shell|git/template/hooks)/.*|
          /autostart-scripts/.*|/qvm-copy-dotfiles|/git-core/.*)
        # yamllint disable rule:line-length
        exclude: >-
          \.(policy|asc|txt|top|sls|jinja|toml|vim|py|muttrc|nft|md|spec|
          list|sources|repo|socket|timer|service|y(a)?ml)$
        description: Lint Shellscripts
        stages: [commit]

      - id: markdown-lint
        name: markdown-lint
        entry: scripts/markdown-lint.sh
        language: script
        pass_filenames: true
        files: \.md$
        description: Lint Markdown files
        stages: [commit]

      - id: python-lint
        name: python-lint
        entry: scripts/python-lint.sh
        language: script
        pass_filenames: true
        files: \.py$
        description: Lint Python files
        stages: [commit]

      - id: salt-lint
        name: salt-lint
        entry: scripts/salt-lint.sh
        language: script
        pass_filenames: true
        files: (^minion.d/.*.conf|\.(sls|top|jinja|j2|tmpl|tst))$
        description: Lint Salt files
        stages: [commit]

      - id: yaml-lint
        name: yaml-lint
        entry: scripts/yaml-lint.sh
        language: script
        pass_filenames: true
        files: \.(yaml|yml)$
        description: Lint YAML files
        stages: [commit]

      - id: qubesbuilder-gen
        name: qubesbuilder-gen
        entry: scripts/qubesbuilder-gen.sh
        args: [test]
        language: script
        pass_filenames: false
        files: salt/\S+/README.md
        description: Check if .qubesbuilder is up to date
        stages: [commit]

      # - id: spec-gen
      #   name: spec-gen
      #   language: script
      #   entry: scripts/spec-gen.sh
      #   args: [test]
      #   pass_filenames: true
      #   # yamllint disable rule:line-length
      #   files: >-
      #     ^(rpm_spec/template/template.spec|salt/.*|
      #     scripts/spec-(get|gen)\.sh)$
      #   description: Check if RPM SPEC files are up to date
      #   stages: [commit]

      - id: license-lint
        name: license-lint
        entry: reuse
        args: [lint]
        language: python
        pass_filenames: false
        description: Lint files to comply with the REUSE Specification
        stages: [commit]

      - id: commit-verify
        name: commit-verify
        entry: scripts/commit-verify.sh
        language: script
        pass_filenames: false
        description: Verify if there is a valid signature associated with the revisions
        stages: [push]

feat: bump Fedora version
  salt/fedora-minimal/README.md
  salt/fedora-xfce/README.md
  salt/fedora/README.md
  salt/fedora/template.jinja
  salt/sys-pgp/install.sls
  scripts/version-update.sh
Due: shell-lint, markdown-lint, salt-lint, qubesbuilder-gen

fix: GUI formulas misses prefs-mgmt state
  salt/sys-gui-gpu/README.md
  salt/sys-gui-gpu/prefs-mgmt.sls
  salt/sys-gui-gpu/prefs-mgmt.top
  salt/sys-gui-vnc/install.sls
Due: markdown-lint, salt-lint, qubesbuilder-gen

feat: add Qubes development formula
  .qubesbuilder
  rpm_spec/qusal-qubes-dev.spec
  salt/dev/install-common.sls
  salt/dev/install-common.top
  salt/dev/install-qusal.sls
  salt/dev/install-qusal.top
  salt/qubes-dev/README.md
  salt/qubes-dev/clone.sls
  salt/qubes-dev/clone.top
  salt/qubes-dev/configure-dvm.sls
  salt/qubes-dev/configure-dvm.top
  salt/qubes-dev/configure.sls
  salt/qubes-dev/configure.top
  salt/qubes-dev/create.sls
  salt/qubes-dev/create.top
  salt/qubes-dev/init.top
  salt/qubes-dev/install.sls
  salt/qubes-dev/install.top
  salt/qubes-dev/version
Due: markdown-lint, salt-lint, qubesbuilder-gen

fix: native module to check command existence
  salt/utils/macros/install-repo.sls
Due: salt-lint

doc: inform about need for dedicated hardware
  README.md
Due: markdown-lint

fix: prioritize USBVM start on USB keyboard pillar
  salt/sys-usb/create.sls
Due: salt-lint

feat: bump ElectRS version
  salt/sys-electrs/configure-builder-source.sls
Due: salt-lint

feat: replace xscreensaver by Xfce screensaver
  salt/sys-gui/install.sls
Due: salt-lint

feat: add official Kicksecure template
  .qubesbuilder
  salt/kicksecure/README.md
  salt/kicksecure/clone.sls
  salt/kicksecure/clone.top
  salt/kicksecure/create.sls
  salt/kicksecure/create.top
  salt/kicksecure/init.top
  salt/kicksecure/install.sls
  salt/kicksecure/install.top
  salt/kicksecure/template.jinja
  salt/kicksecure/version
Due: markdown-lint, salt-lint, qubesbuilder-gen

fix: remove GUI packages unavailable on Debian 13
  salt/sys-gui/install.sls
Due: salt-lint

Add dependencies for X11 Plasma KDE Desktop Environment
  salt/dom0/desktop-kde.sls
Due: salt-lint
